
/*Contents organization*/
.allIndexContain { /*the contain of contains*/
    width: 100%;
}
.mainBlockIndexContain { /*the contain of blocks*/
    width: 70%;
    float: left;
}
.rightBlockIndexContain { /*the contain of right blocks*/
    width: 30%;
    float: right;
}
.blockIndex { /*the square of block*/
    background-color: #111;
    opacity: 0.8;
	width: 92%;
    padding: 3% 4%;
}
.blockIndexPad { /*the padding between squares*/
    padding: 1% 1%;
    padding-left: 2%;
}
.rightBlockIndexPad { /*the padding between right squares*/
    padding: 1% 2%;
    padding-right: 3%;
}
.blockIndexHead { /*the header of square contents*/
    font-size: 250%;
    color: #999;
    text-align: center;
}
.blockIndexText { /*the text of square contents*/
    font-size:150%;
    color: #999;
}
/*Contents organization*/

body {
	background: url("images/paper.jpg") no-repeat center center fixed;
	background-size: cover;
    float: left;
    width: 100%;
}
li.navBar {
    padding: 1.5% 3.5%;
    text-align: center;
    font-size: 250%;
    float: left;
    background-color: #111;
    list-style-type: none;
    color: #999;
    font-family: Lato, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #282828;
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
    transition-duration: 0.2s;
}
li:hover {
    background-color:#222;
}
.logo {
    padding: 1px 1px;
    vertical-align: middle;
    background-color:#111;
    float: left;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: #282828;
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
    transition-duration: 0.2s;
}

#hideButton {
    visibility: hidden;
}

#message {
    visibility: hidden;
}
.aboutP {
    font-size: 100%px;
    font-family: Lato, Helvetica, sans-serif;
    padding-top: 5%;
    padding-left: 2%

}
.parallax { 
    background-image: url("images/paper.jpg");
    height: 100%; 
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*tried out a parallax effect on scrolling here, index.html needs to be longer for it to actually work and need to find suitable image (rn its just normal bg)*/

.button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgb(32, 32, 32);
    border-radius:2px;
}
.button:hover {
    background-color: #8a8a8a;
}

.pObunga {
    transition-duration: 0.2s;
}
.pObunga:hover {
    color:white;
}
button:focus {
    outline:0;
}
.buttonClick {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgb(32, 32, 32);
    border-radius:2px;
}
.buttonClick:active {
    background-color: #252525;
    transform: translateY(4px);
    background-color: rgb(180, 180, 180);
    color: black;
    border: 2px solid #e7e7e7;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgb(32, 32, 32);
    border-radius:2px;
}
/*DROPDOWN STUFF*/
.dropbtn {
    background-color: rgb(180, 180, 180);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #585858
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #252525;
}
/*ffffffffffffffffffffffff*/